/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here



$color-green-light: #00a9bb;
$color-green-dark: #246b92;
$color-blue: #002a56;
$color-blue-light: #00d6e0;
$color-gray: #939393;
$color-white: #fff;
$color-white-light: #f3eee9;

$color-body-background: #fff;
$color-body: #939393;