/// Sass Home Page
/// @author Diogo Cezar <diogo@diogocezar.com>

// Charset
@charset 'utf-8';

// Imports
@import '../base/includes/fonts.scss';
@import '../base/includes/sizes.scss';
@import '../base/includes/mixins.scss';
@import '../base/includes/colors.scss';

// Disable Google Maps Logo

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

// Home

#home{
	background-color: $color-green-opaque;
	padding-top: 65px;
	padding-bottom: 0px;

	#logo{
		padding-top: 40px;
		padding-bottom: 40px;
		height: 270px;
		@include responsive(s2) {
		 	padding-top: 10px;
		 	padding-bottom: 10px;
		 	height: 100px;
		}
	}
}

#sobre{
	background-color: $color-green-opaque;
	padding-top: 0px;
	padding-bottom: 65px;
	h1{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 6.1em;
		line-height: 0.1;
		color: $color-mostarda;

		@include responsive(s1) {
			font-size: 5.3em;
		}
		@include responsive(s2) {
			font-size: 4.3em;
			text-align: center;
			float:none;
			max-width: initial;
		}
	}
	h2{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 3.7em;
		font-style: italic;
		// text-align: right;
		// text-transform: uppercase;
		// max-width: 390px;
		// text-align: right;
		// float: right;
		.home-green{
			color: $color-green-light;
		}
		@include responsive(s1) {
			font-size: 3em;
		}
		@include responsive(s2) {
			font-size: 2.5em;
			text-align: center;
			float:none;
			max-width: initial;
		}
	}
	p{
		font-family: $font-primary;
		font-size: 1.3em;
		padding: 7% 32% 0% 32%;
		text-align: center;
		float:none;
		@include responsive(s1) {
			padding: 7% 32% 0% 32%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s2) {
			padding: 7% 12% 0% 12%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s3) {
			padding: 7% 2% 0% 2%;
			max-width: initial;
			text-align: center;
			float:none;
		}
	}
	.banner{
		h3{
			color: $color-white;
			font-family: $font-secondary;
			font-size: 2em;
			font-weight: bold;
		}
		p{
			color: $color-green-opaque;
			padding: 3% 10% 0% 10%;
		}
		.box{
			background-color: $color-blue-dark;
			margin: 1% 1%;
			padding:1% 1%;
			@include responsive(s2) {
				margin: 3% 3%;
				padding:3% 3%;
			}
			@include responsive(s3) {
				margin: 3% 3%;
				padding:3% 3%;
			}
		}
	}
}

// Contato

#contato {
	background-image: url('../../../images/bg-01.jpg');
	h1{
		padding: 6% 10% 2% 10%;
		font-family: $font-secondary;
		color: $color-white;
		font-size: 3em;
		@include responsive(s1) {
			max-width: initial;
		}
	}
	p {
		padding: 4% 35% 4% 35%;
		color: $color-green-light;
		font-size: 1em;
	}
	.separator:before {
		height: 5px;
		 width: 8%;
	}
}


#produtos {
	background-color: $color-green-opaque;
	padding-top: 0px;
	padding-bottom: 65px;
	h1{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 6.1em;
		line-height: 0.1;
		color: $color-mostarda;

		@include responsive(s1) {
			font-size: 5.3em;
		}
		@include responsive(s2) {
			font-size: 4.3em;
			text-align: center;
			float:none;
			max-width: initial;
		}
	}
	h2{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 3.7em;
		font-style: italic;
		// text-align: right;
		// text-transform: uppercase;
		// max-width: 390px;
		// text-align: right;
		// float: right;
		.home-green{
			color: $color-green-light;
		}
		@include responsive(s1) {
			font-size: 3em;
		}
		@include responsive(s2) {
			font-size: 2.5em;
			text-align: center;
			float:none;
			max-width: initial;
		}
	}
	p{
		font-family: $font-primary;
		padding: 8% 33% 0% 33%;
		text-align: center;

		@include responsive(s1) {
			padding: 7% 32% 0% 32%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s2) {
			padding: 7% 12% 0% 12%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s3) {
			padding: 7% 2% 0% 2%;
			max-width: initial;
			text-align: center;
			float:none;
		}
	}
	.little {
		height: 380px;
	}
	.little-g {
		height: 450px;
	}
	.medium {
		height: 500px;
	}
	.big {
		height: 550px;
	}
	.banner-produto{
		background-color: $color-white-full;
		padding: 20px;
		margin-top: 20px;
		h3{
			color: $color-mostarda;
			font-family: $font-secondary;
			font-size: 1.4em;
			font-weight: bold;
		}
		p {
			padding: 0%;
		}
		.button {
   			background-color: $color-white-full;
   			color: $color-mostarda;
   			border: 2px solid;
   			font-size: 14px;
			font-weight: 600;
			height:40px;
		    min-width: 120px;
		    max-width: 240px;
		    text-transform: capitalize;
		    margin: 10px 0px 20px 0px;
		}
		/* h3{
			color: $color-white;
			font-family: $font-secondary;
			font-size: 2em;
			font-weight: bold;
		}
		p{
			color: $color-green-opaque;
			padding: 3% 10% 0% 10%;
		}
		.box{
			background-color: $color-blue-dark;
			margin: 1% 1%;
			padding:1% 1%;
			@include responsive(s2) {
				margin: 3% 3%;
				padding:3% 3%;
			}
			@include responsive(s3) {
				margin: 3% 3%;
				padding:3% 3%;
			}
		} */
	}
}

// separator

.separator:before {
	text-align: center;
    background-color: $color-mostarda;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

// Decoration
.decoration{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 27%;
	@include responsive(s3) {
		width: 40%;
	}
	@include responsive(s4) {
		width: 90%;
	}
}

#contato-footer{
	background-image: url('../../../images/bg-02.jpg');
	h1{
		padding: 4% 10% 0% 10%;
		font-family: $font-secondary;
		color: $color-white;
		font-size: 4em;
		font-weight: bold;
		@include responsive(s1) {
			max-width: initial;
		}
	}
	h2{
		padding: 1% 10% 0% 10%;
		font-family: $font-primary;
		color: $color-white;
		font-size: 3.3em;
		@include responsive(s1) {
			max-width: initial;
		}
	}
	h3{
		font-family: $font-secondary;
		color: $color-white;
		font-size: 1.9em;
		@include responsive(s1) {
			max-width: initial;
		}
	}
	p {
		padding: 1% 10% 4% 10%;
		color: $color-mostarda;
		font-size: 1.5em;
	}
	.separator:before {
		height: 5px;
		width: 8%;
	}
}

// Footer

footer{
	height: 300px;

	p {
		font-size: 1em;
	}

	#logo-footer {
		padding-top: 40px;
		padding-bottom: 40px;
		height: 120px;
		@include responsive(s2) {
		 	padding-top: 10px;
		 	padding-bottom: 10px;
		 	height: 100px;
		}
	}
	.col-socials{
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				position: relative;
				margin-right: 10px;
				display:inline-block;
				a{
					span{
						@include transition(.25s);
						&:hover{
							background-color: $color-white;
						}
						position: relative;
						float: left;
						background-color: $color-blue-dark;
						border-radius: 50%;
						width: 55px;
						height: 55px;
						svg{
							height: 32px;
							width: 32px;
							position: absolute;
							@include align(50%, 50%, -50%, -50%)
						}
					}
				}
			}
		}
	}
}