/* @mixin grid {
    width: 18%;
    margin: 1%;
    float: left;
    @media (max-width: 1366px) {
      width: 23%;
    }
    @media (max-width: 1024px) {
      width: 31.333%;
    }
    @media (max-width: 600px) {
      width: 48%;
    }
    @media (max-width: 360px) {
      display: block;
      width: 96%;
      margin: 2%;
      float: none;
    }
  }
  @mixin hover {
    opacity: 1;
    &:hover, &:active, &:focus {
      opacity: 0.75;
    }
  } */
a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none; }

.gmnoprint div {
  background: none !important; }

#home {
  background-color: #F1F7EE;
  padding-top: 65px;
  padding-bottom: 0px; }
  #home #logo {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 270px; }
    @media only screen and (max-width: 992px) {
      #home #logo {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100px; } }

#sobre {
  background-color: #F1F7EE;
  padding-top: 0px;
  padding-bottom: 65px; }
  #sobre h1 {
    font-family: "Raleway", sans-serif;
    color: #223843;
    font-size: 6.1em;
    line-height: 0.1;
    color: #B2BD7E; }
    @media only screen and (max-width: 1200px) {
      #sobre h1 {
        font-size: 5.3em; } }
    @media only screen and (max-width: 992px) {
      #sobre h1 {
        font-size: 4.3em;
        text-align: center;
        float: none;
        max-width: initial; } }
  #sobre h2 {
    font-family: "Raleway", sans-serif;
    color: #223843;
    font-size: 3.7em;
    font-style: italic; }
    #sobre h2 .home-green {
      color: #749C75; }
    @media only screen and (max-width: 1200px) {
      #sobre h2 {
        font-size: 3em; } }
    @media only screen and (max-width: 992px) {
      #sobre h2 {
        font-size: 2.5em;
        text-align: center;
        float: none;
        max-width: initial; } }
  #sobre p {
    font-family: "Droid Serif", serif;
    font-size: 1.3em;
    padding: 7% 32% 0% 32%;
    text-align: center;
    float: none; }
    @media only screen and (max-width: 1200px) {
      #sobre p {
        padding: 7% 32% 0% 32%;
        max-width: initial;
        text-align: center;
        float: none; } }
    @media only screen and (max-width: 992px) {
      #sobre p {
        padding: 7% 12% 0% 12%;
        max-width: initial;
        text-align: center;
        float: none; } }
    @media only screen and (max-width: 768px) {
      #sobre p {
        padding: 7% 2% 0% 2%;
        max-width: initial;
        text-align: center;
        float: none; } }
  #sobre .banner h3 {
    color: #F1F7EE;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: bold; }
  #sobre .banner p {
    color: #F1F7EE;
    padding: 3% 10% 0% 10%; }
  #sobre .banner .box {
    background-color: #223843;
    margin: 1% 1%;
    padding: 1% 1%; }
    @media only screen and (max-width: 992px) {
      #sobre .banner .box {
        margin: 3% 3%;
        padding: 3% 3%; } }
    @media only screen and (max-width: 768px) {
      #sobre .banner .box {
        margin: 3% 3%;
        padding: 3% 3%; } }

#contato {
  background-image: url("../../../images/bg-01.jpg"); }
  #contato h1 {
    padding: 6% 10% 2% 10%;
    font-family: "Raleway", sans-serif;
    color: #F1F7EE;
    font-size: 3em; }
    @media only screen and (max-width: 1200px) {
      #contato h1 {
        max-width: initial; } }
  #contato p {
    padding: 4% 35% 4% 35%;
    color: #749C75;
    font-size: 1em; }
  #contato .separator:before {
    height: 5px;
    width: 8%; }

#produtos {
  background-color: #F1F7EE;
  padding-top: 0px;
  padding-bottom: 65px; }
  #produtos h1 {
    font-family: "Raleway", sans-serif;
    color: #223843;
    font-size: 6.1em;
    line-height: 0.1;
    color: #B2BD7E; }
    @media only screen and (max-width: 1200px) {
      #produtos h1 {
        font-size: 5.3em; } }
    @media only screen and (max-width: 992px) {
      #produtos h1 {
        font-size: 4.3em;
        text-align: center;
        float: none;
        max-width: initial; } }
  #produtos h2 {
    font-family: "Raleway", sans-serif;
    color: #223843;
    font-size: 3.7em;
    font-style: italic; }
    #produtos h2 .home-green {
      color: #749C75; }
    @media only screen and (max-width: 1200px) {
      #produtos h2 {
        font-size: 3em; } }
    @media only screen and (max-width: 992px) {
      #produtos h2 {
        font-size: 2.5em;
        text-align: center;
        float: none;
        max-width: initial; } }
  #produtos p {
    font-family: "Droid Serif", serif;
    padding: 8% 33% 0% 33%;
    text-align: center; }
    @media only screen and (max-width: 1200px) {
      #produtos p {
        padding: 7% 32% 0% 32%;
        max-width: initial;
        text-align: center;
        float: none; } }
    @media only screen and (max-width: 992px) {
      #produtos p {
        padding: 7% 12% 0% 12%;
        max-width: initial;
        text-align: center;
        float: none; } }
    @media only screen and (max-width: 768px) {
      #produtos p {
        padding: 7% 2% 0% 2%;
        max-width: initial;
        text-align: center;
        float: none; } }
  #produtos .little {
    height: 380px; }
  #produtos .little-g {
    height: 450px; }
  #produtos .medium {
    height: 500px; }
  #produtos .big {
    height: 550px; }
  #produtos .banner-produto {
    background-color: #FFF;
    padding: 20px;
    margin-top: 20px;
    /* h3{
			color: $color-white;
			font-family: $font-secondary;
			font-size: 2em;
			font-weight: bold;
		}
		p{
			color: $color-green-opaque;
			padding: 3% 10% 0% 10%;
		}
		.box{
			background-color: $color-blue-dark;
			margin: 1% 1%;
			padding:1% 1%;
			@include responsive(s2) {
				margin: 3% 3%;
				padding:3% 3%;
			}
			@include responsive(s3) {
				margin: 3% 3%;
				padding:3% 3%;
			}
		} */ }
    #produtos .banner-produto h3 {
      color: #B2BD7E;
      font-family: "Raleway", sans-serif;
      font-size: 1.4em;
      font-weight: bold; }
    #produtos .banner-produto p {
      padding: 0%; }
    #produtos .banner-produto .button {
      background-color: #FFF;
      color: #B2BD7E;
      border: 2px solid;
      font-size: 14px;
      font-weight: 600;
      height: 40px;
      min-width: 120px;
      max-width: 240px;
      text-transform: capitalize;
      margin: 10px 0px 20px 0px; }

.separator:before {
  text-align: center;
  background-color: #B2BD7E;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 20%; }

.decoration {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 27%; }
  @media only screen and (max-width: 768px) {
    .decoration {
      width: 40%; } }
  @media only screen and (max-width: 480px) {
    .decoration {
      width: 90%; } }

#contato-footer {
  background-image: url("../../../images/bg-02.jpg"); }
  #contato-footer h1 {
    padding: 4% 10% 0% 10%;
    font-family: "Raleway", sans-serif;
    color: #F1F7EE;
    font-size: 4em;
    font-weight: bold; }
    @media only screen and (max-width: 1200px) {
      #contato-footer h1 {
        max-width: initial; } }
  #contato-footer h2 {
    padding: 1% 10% 0% 10%;
    font-family: "Droid Serif", serif;
    color: #F1F7EE;
    font-size: 3.3em; }
    @media only screen and (max-width: 1200px) {
      #contato-footer h2 {
        max-width: initial; } }
  #contato-footer h3 {
    font-family: "Raleway", sans-serif;
    color: #F1F7EE;
    font-size: 1.9em; }
    @media only screen and (max-width: 1200px) {
      #contato-footer h3 {
        max-width: initial; } }
  #contato-footer p {
    padding: 1% 10% 4% 10%;
    color: #B2BD7E;
    font-size: 1.5em; }
  #contato-footer .separator:before {
    height: 5px;
    width: 8%; }

footer {
  height: 300px; }
  footer p {
    font-size: 1em; }
  footer #logo-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 120px; }
    @media only screen and (max-width: 992px) {
      footer #logo-footer {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100px; } }
  footer .col-socials ul {
    margin: 0;
    padding: 0; }
    footer .col-socials ul li {
      list-style: none;
      position: relative;
      margin-right: 10px;
      display: inline-block; }
      footer .col-socials ul li a span {
        -webkit-transition: all 0.25s ease-in-out 0s;
        -moz-transform: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s;
        position: relative;
        float: left;
        background-color: #223843;
        border-radius: 50%;
        width: 55px;
        height: 55px; }
        footer .col-socials ul li a span:hover {
          background-color: #F1F7EE; }
        footer .col-socials ul li a span svg {
          height: 32px;
          width: 32px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) !important;
          -moz-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important; }
