a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none; }

.gmnoprint div {
  background: none !important; }

#home {
  background-color: #F1F7EE;
  padding-top: 65px;
  padding-bottom: 0px; }
  #home #logo {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 270px; }
    @media only screen and (max-width: 992px) {
      #home #logo {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100px; } }

#sobre {
  background-color: #F1F7EE;
  padding-top: 0px;
  padding-bottom: 65px; }
  #sobre h1 {
    font-family: "Raleway", sans-serif;
    color: #223843;
    font-size: 6.1em;
    line-height: 0.1;
    color: #B2BD7E; }
    @media only screen and (max-width: 1200px) {
      #sobre h1 {
        font-size: 5.3em; } }
    @media only screen and (max-width: 992px) {
      #sobre h1 {
        font-size: 4.3em;
        text-align: center;
        float: none;
        max-width: initial; } }
  #sobre h2 {
    font-family: "Raleway", sans-serif;
    color: #223843;
    font-size: 3.7em;
    font-style: italic; }
    #sobre h2 .home-green {
      color: #749C75; }
    @media only screen and (max-width: 1200px) {
      #sobre h2 {
        font-size: 3em; } }
    @media only screen and (max-width: 992px) {
      #sobre h2 {
        font-size: 2.5em;
        text-align: center;
        float: none;
        max-width: initial; } }
  #sobre p {
    font-family: "Droid Serif", serif;
    font-size: 1.3em;
    padding: 7% 32% 0% 32%;
    text-align: center;
    float: none; }
    @media only screen and (max-width: 1200px) {
      #sobre p {
        padding: 7% 32% 0% 32%;
        max-width: initial;
        text-align: center;
        float: none; } }
    @media only screen and (max-width: 992px) {
      #sobre p {
        padding: 7% 12% 0% 12%;
        max-width: initial;
        text-align: center;
        float: none; } }
    @media only screen and (max-width: 768px) {
      #sobre p {
        padding: 7% 2% 0% 2%;
        max-width: initial;
        text-align: center;
        float: none; } }
  #sobre .banner h3 {
    color: #F1F7EE;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: bold; }
  #sobre .banner p {
    color: #F1F7EE;
    padding: 3% 10% 0% 10%; }
  #sobre .banner .box {
    background-color: #223843;
    margin: 1% 1%;
    padding: 1% 1%; }
    @media only screen and (max-width: 992px) {
      #sobre .banner .box {
        margin: 3% 3%;
        padding: 3% 3%; } }
    @media only screen and (max-width: 768px) {
      #sobre .banner .box {
        margin: 3% 3%;
        padding: 3% 3%; } }
  #sobre .banner .separator:before {
    text-align: center;
    background-color: #B2BD7E;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 20%; }

.decoration {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 27%; }
  @media only screen and (max-width: 768px) {
    .decoration {
      width: 40%; } }
  @media only screen and (max-width: 480px) {
    .decoration {
      width: 90%; } }

/* .banner{
	position:relative;
	float:left;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	h2{
		margin-top: 120px;
		font-family: $font-secondary;
		color: $color-white;
		font-size: 5em;
		text-transform: uppercase;
		margin-bottom: 40px;
		@include responsive(s1) {
			font-size: 4em;
		}
		@include responsive(s2) {
			font-size: 3em;
			margin-top: 80px;
			text-align: center;
		}
	}
	p{
		font-family: $font-primary;
		color: $color-white;
		max-width: 450px;
		font-size: 1.6em;
		margin-bottom: 120px;
		@include responsive(s2) {
			font-size: 1.5em;
			text-align: center;
			float:none;
			max-width: initial;
		}
	}
} */
#fisioterapia-esportiva {
  background-image: url("../../../images/bg-fisioterapia-esportiva.jpg"); }
  #fisioterapia-esportiva h2 {
    color: #002a56;
    max-width: 350px; }
    @media only screen and (max-width: 1200px) {
      #fisioterapia-esportiva h2 {
        max-width: initial; } }

#tratamento-postural {
  background-image: url("../../../images/bg-tratamento-postural.jpg"); }
  #tratamento-postural h2 {
    color: #00d6e0;
    max-width: 350px;
    text-align: right;
    float: right; }
    @media only screen and (max-width: 1200px) {
      #tratamento-postural h2 {
        max-width: initial;
        text-align: center;
        float: none; } }
  #tratamento-postural p {
    text-align: right;
    float: right; }
    @media only screen and (max-width: 1200px) {
      #tratamento-postural p {
        max-width: initial;
        text-align: center;
        float: none; } }

#tratamento-funcional {
  background-image: url("../../../images/bg-tratamento-funcional.jpg"); }
  #tratamento-funcional h2 {
    max-width: 350px; }
    @media only screen and (max-width: 1200px) {
      #tratamento-funcional h2 {
        max-width: initial; } }

#contato {
  position: relative;
  float: left;
  width: 100%;
  background-color: #002a56; }
  #contato .big-contato {
    font-size: 2.5em;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      #contato .big-contato {
        font-size: 1.2em; } }
    @media only screen and (max-width: 480px) {
      #contato .big-contato {
        font-size: 0.8em; } }
  #contato .blue-contato {
    color: #00d6e0; }
  #contato h2 {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 60px;
    font-size: 2.8em;
    font-family: "Raleway", sans-serif;
    color: #00d6e0; }
    @media only screen and (max-width: 1200px) {
      #contato h2 {
        text-align: center; } }
    @media only screen and (max-width: 480px) {
      #contato h2 {
        font-size: 2.6em; } }
  #contato h3, #contato h4 {
    color: #f3eee9; }
    @media only screen and (max-width: 1200px) {
      #contato h3, #contato h4 {
        text-align: center; } }
    @media only screen and (max-width: 480px) {
      #contato h3, #contato h4 {
        font-size: 1.8em; } }
  #contato h4 {
    padding-bottom: 80px; }

#nitz-map {
  min-height: 600px;
  position: relative;
  float: left;
  width: 100%; }
  @media only screen and (max-width: 480px) {
    #nitz-map {
      min-height: 80vh; } }

footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #002a56;
  padding-top: 60px;
  padding-bottom: 60px; }
  footer .col-button {
    height: 75px; }
    @media only screen and (max-width: 992px) {
      footer .col-button {
        margin-bottom: 25px; } }
    footer .col-button button {
      min-width: 285px;
      background-color: #749C75;
      border: none;
      padding: 20px;
      line-height: 34px;
      font-family: "Droid Serif", serif;
      color: #F1F7EE;
      font-size: 1.6em;
      border-radius: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) !important;
      -moz-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important;
      top: 35px;
      -webkit-transition: all 0.25s ease-in-out 0s;
      -moz-transform: all 0.25s ease-in-out 0s;
      -ms-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s; }
      footer .col-button button svg {
        position: relative;
        float: left;
        margin-right: 10px; }
      footer .col-button button:hover {
        background-color: #223843; }
      @media only screen and (max-width: 768px) {
        footer .col-button button {
          font-size: 1.4em; } }
      @media only screen and (max-width: 480px) {
        footer .col-button button {
          width: 80%; } }
  footer .col-socials ul {
    margin: 0;
    padding: 0; }
    footer .col-socials ul li {
      list-style: none;
      position: relative;
      margin-right: 10px;
      display: inline-block; }
      footer .col-socials ul li a span {
        -webkit-transition: all 0.25s ease-in-out 0s;
        -moz-transform: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s;
        position: relative;
        float: left;
        background-color: #749C75;
        border-radius: 50%;
        width: 74px;
        height: 74px; }
        footer .col-socials ul li a span:hover {
          background-color: #223843; }
        footer .col-socials ul li a span svg {
          height: 32px;
          width: 32px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) !important;
          -moz-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important; }
